<div class="row">
  <div class="col-lg-12">
    <uii-wizard>
      <uii-form-wizard-step [title]="'Step 1'">
        <form [formGroup]="form">
          <div class="form-control">
            <label for="name">Name</label>
            <input type="text" formControlName="name" />
          </div>
          <div class="form-control">
            <label for="nim">Nim</label>
            <input type="text" formControlName="nim" />
          </div>
          <div class="form-control">
            <label for="email">Email</label>
            <input type="text" formControlName="email" />
          </div>
          <div class="form-control">
            <label for="address">Address</label>
            <input type="text" formControlName="address" />
          </div>
        </form>
      </uii-form-wizard-step>
      <uii-form-wizard-step [title]="'Step 2'">
        <form [formGroup]="form">
          <div class="form-control">
            <label for="topic1">Topic 1</label>
            <input type="text" formControlName="topic1" />
          </div>
          <div class="form-control">
            <label for="topic2">Topic 2</label>
            <input type="text" formControlName="topic2" />
          </div>
          <div class="form-control">
            <label for="topic3">Topic 3</label>
            <input type="text" formControlName="topic3" />
          </div>
          <div class="form-control">
            <label for="topic4">Topic 4</label>
            <input type="text" formControlName="topic4" />
          </div>
        </form>
      </uii-form-wizard-step>
      <uii-form-wizard-step [title]="'Step 3'" (onComplete)="onSubmit()">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-control">
            <label for="topic5">Topic 5</label>
            <input type="text" formControlName="topic5" />
          </div>
          <div class="form-control">
            <label for="topic62">Topic 6</label>
            <input type="text" formControlName="topic6" />
          </div>
          <div class="form-control">
            <label for="topic7">Topic 7</label>
            <input type="text" formControlName="topic7" />
          </div>
          <div class="form-control">
            <label for="topic8">Topic 8</label>
            <input type="text" formControlName="topic8" />
          </div>
        </form>
      </uii-form-wizard-step>
    </uii-wizard>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <p>Data Submit</p>
    {{dataSubmit | json}}
  </div>
</div>
